
<style>
  
    .ellipsis {
        max-width: 40px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    
    </style>
    


<div id="divLoading" class="d-flex justify-content-center align-items-center" ng-show="isLoading">
    <div tabindex="9999" class="spinner"></div>
</div>
<div class="modal-header customModalheader">
    <div class="modal-title customModalTitle wid-100" id="modal-title">
        <i class="fa fa-list-alt" aria-hidden="true"></i>
        <h3 class="headingtitle"> CAPEX Business Case Validator Dashboard</h3>
	 <div class="userbox"><span class="fstyle">Welcome</span> : <span class="username">{{CurrLogUserId}}</span></div>
     <div class="userbox" style="margin-top: -8px;float: left;"><button style="font-size: 18px;background: transparent;color: #fff;" type="button" class="btn btn-link" ng-click="onClickHome()"><i class="fa fa-home" aria-hidden="true"></i> Home</button>
        <a style="font-size: 18px;background: transparent;color: #fff;" type="button" class="btn btn-link" href="../../BusinessCaseAutomation/SitePages/CAPEXVBClp.aspx"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a></div>
    </div>

</div> 




<div  style="margin-left:450px; width:400px; margin-top:1px;">
        <div class="p-abs" style="margin-top:15px"> 
    
        <label style="display: inline-block;margin-bottom: 0; font-size: smaller; margin-right:5px;">Product Name </label>
           
              
        <select class="form-control  d-inlineblock" name="ddlProduct" ng-model="ddlProduct" id="ddlProduct"  ng-change="Productfilter(ddlProduct)">
            <option ng-value="">All</option>
            <option ng-value="{{chngSt.ProductId}}"  ng-repeat="chngSt in newfilteredarrayColl | orderBy:'ProductTitle'"  >
                {{chngSt.ProductTitle}}</option>
            </select>


            <select ng-model="ddlStatus" id="ddlStatus" class="form-control  d-inlineblock" ng-change="ifallblank()">

                <option value="">Select Status</option>
    
    
                <option value="{{chngSt.CaseStatus}}" ng-repeat="chngSt in CapexBusinessLicencingColl1   |unique:'CaseStatus'| orderBy:'CaseStatus'">
                    {{chngSt.CaseStatus}}</option>
            </select>
    
    
    </div>
</div>

   

    <div class="" style="margin-right:30px;margin-top:19px;margin-bottom:-5px;position: absolute;"> 
       <span  style="font-size: smaller;">Action required </span>
        <label class="switch" style="height: 27px">
            <input 
              type="checkbox" 
              ng-model="showallstatus" 
              ng-true-value="'conditionForTrue'" 
              ng-false-value="'conditionForFalse'" 
              ng-click="toggleStatus()">
            <span class="slider round"></span>
          </label>

            <span  style="font-size: smaller;display: inline-block;margin-bottom: 0;"> All entries</span>

            

    </div>


   

    </div>



<div class="row rpbox">
   
    <div class="p-abs">
     
    </div>

    <div class="reviewsearch reviewsearch" style="padding-top: 0 !important;">
        <input type="text" name="search" placeholder="Search.." class="search-box search-boxn" ng-model="search">
    </div>
</div>
<!-- <label class="col-form-label">Strategy </label>
        <select ng-model="ddlInvNo" class="form-control">
            <option value="">Select Strategy</option>
            <option ng-repeat="mod in CapexBusinessLicencingColl1" value="{{mod.Strategy.Title}}">{{mod.Strategy.Title}}</option>
        </select> -->
<!-- <tr ng-repeat="objInvData in InvTrackColl | filter : search | filter : {InvoiceNo:ddlInvNo,Status:ddlStatus}| limitTo : PreviousItemsPerPage:PreviousItemsPerPage*(PreviousCurrentPage-1)"> -->
<div class="my-2 initiatortable">
    <div class="card-body no-padding">
        <div class="table-responsive">
            <table class="table tbl tbldata" id="film">
                <thead>
                    <tr>
                        <th>Business Case Id</th>
                        <th style="text-align:center;">Business Case Name</th>
                        <th style="text-align:center;">Business Case Details</th>
                        <!-- <th>Business Case Details</th> -->
                        <th style="text-align:center;">Entity</th>

                        <th style="text-align:center;">Site</th>
                        <th style="text-align:center;">Capex Value (In Cr)</th>

                        <!-- <th style="text-align:center;">Capex Context</th> -->
                        <!-- <th>Month Of Initiation</th> -->
                        <!-- <th>Product Name</th> -->
                       <th style="text-align:center;">Lap Version</th>
                         <th style="text-align:center;">Version</th>
                        <th>Current Business Case Stage</th>
                        <th>Current Case Status</th>
                        <th style="text-align:center;">Validate</th>
                        <th style="text-align:center;">View</th>

                        <th style="text-align:center;">V2V Comparison Report</th>

                        <th style="text-align:center;">DRC dashboard</th>
                      


                        <!-- <th style="text-align:center;">ELT Review Report</th>  -->
                      
                    </tr>
                </thead>

                <tbody>
                    <tr
                        ng-repeat="request in CapexBusinessLicencingColl1   = (test |filter : search |filter : modified| filter :{InvoiceNo:ddlInvNo,CaseStatus:ddlStatus} )|orderBy : '-Modified' | limitTo :
                        itemsPerPage:itemsPerPage*(currentPage-1)">
                        <td>{{request.Title}}</td>
                        <td style="text-align:center;">{{request.BusinessCaseName}}</td>

                        <td class="ellipsis" style="text-align:center;">{{request.BusinessCaseDescription}}</td>

                        <!-- <td style="text-align:center;">{{request.BusinessCaseDescription}}</td> -->
                        <td style="text-align:center;">{{request.ProductCategory.Title}}</td>

                        <td style="text-align:center;">{{request.Site.Title}}</td>
                        <td style="text-align:center;">{{request.CapexValue}}</td>
                        <!-- <td style="text-align:center;">{{request.CapexContext.Title}}</td> -->


                        <!-- <td>{{request.InitiationDate|date : "MMM-yyyy"}}</td> -->
                        <td style="text-align:center;">{{request.LapVersion}}</td>

                        <!-- <td>{{request.ProductName.Title}}</td> -->
                        <td>{{request.VersionNo}}</td>
    
                        <td>{{request.CaseStage.Title}}</td>
                        <td>{{request.CaseStatus}}</td>
                         <td style="text-align:center;" class="col-xs-1 col-sm-1 col-md-1"><a class="edit" ng-click="ValidateForm(request)"
                                ng-hide="((request.CaseStatus=='Data To Be Rework') || (request.CaseStatus=='Validation Completed')) && request.CaseStage.Title=='Under Validation')"
                                ng-show="(((request.CaseStatus=='Minor Changes-by Validator')||(request.CaseStatus=='On Hold') ||(request.CaseStatus=='Sent For Validation') ||(request.CaseStatus=='Ready for Validation')) && request.CaseStage.Title=='Under Validation')"><i
                                    class="fa fa-check"></i></a></td>
                        <td style="text-align:center;" class="col-xs-1 col-sm-1 col-md-1"><a class="view" ng-click="ViewValidateForm(request)"><i
                                    class="fa fa-eye" aria-hidden="true"></i></a> </td>

                                    <td style="text-align:center;">
                                        <a href="{{request.V2VPowerBiLink}}" target="_blank">
                                    <img src="../SiteAssets/BusinessCaseLP/assets/img/report-logo-bicon1.png" class="r-bio-img"></a>
                                    </td>
            
                                    <td style="text-align:center;">
                                        <a href="{{request.DRCPowerBiLink}}" target="_blank">
                                            <img src="../SiteAssets/BusinessCaseLP/assets/img/report-logo-bicon.png"
                                                class="r-bio-img"></a>
                                    </td>
                                    <!-- <td style="text-align:center;"> -->
                                     <!-- <a href="https://app.powerbi.com/groups/02afbc0f-af46-45ca-99cb-35370af19987/reports/464376c7-1d60-4aa8-857c-7c80c4a6ae97/ReportSection0a67bd0e8cc1e819ed00?experience=power-bi&filter=OutLicensingBusinessCase/Id eq {{request.ID}}" target="_blank"> -->
                                        <!-- <img src="../SiteAssets/BusinessCaseLP/assets/img/report-logo-bicon.png" class="r-bio-img"></a>
                                     </td> -->
                       
                    </tr>
                </tbody>

            </table>
            <div ng-hide="CapexBusinessLicencingColl1.length==0">
                <div class="pagination" >
                    <ul uib-pagination ng-model="currentPage" total-items="CapexBusinessLicencingColl1.length" items-per-page="itemsPerPage"
                        max-size="maxSize" class="pagination-sm" boundary-link-numbers="true"></ul>
                </div>
            
                <label for="itemsPerPageSelect">Items per Page:</label>
                <select id="itemsPerPageSelect" ng-model="itemsPerPage" ng-change="updatePagination()">
                   <!-- <option value="5" >5</option> -->
                   <option ng-value="20">20</option>
                   <option ng-value="50">50</option>
                   <option ng-value="100">100</option>


                </select>
           </div>
            
            <div ng-show="CapexBusinessLicencingColl1.length==0">
            <p>No data available in the table.</p>
            </div>

        </div>
        <!-- <div class="row pr-4 pl-4 pt-2">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="selectbox">
                <div class="recordperpagebox">Records Per Page</div>    <select ng-model="pageSize1" id="pageSize1" class="form-control searchShowMore" id="pageSize">
                        <option ng-selected="true" value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                    </select></div>
                <ul uib-pagination boundary-link-numbers="true" max-size="2"
                    total-items="businessCaseRequestColl.length" ng-model="PreviousCurrentPage"
                    class="pagination-sm pull-right" items-per-page="PreviousItemsPerPage" previous-text="&lsaquo;"
                    next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
            </div>
        </div> -->
    </div>