<div ng-form="frmReqInitiation" novalidate>
    <div class="modal-header customModalheader">
        <div class="modal-title customModalTitle" id="modal-title"><i class="fa fa-list-alt" aria-hidden="true"></i>
            <h3 class="headingtitle"> Business Case Review Form</h3>
        </div>
    </div>

    <div style="border: 1px solid #ddd; margin-top: 20px;border-radius: 5px;" class="addasswrap">
        <div class="modal-body" id="divContSafeAuditFrm">
            <div class="row mt-10">
                <div class="col-md-4">
                   <label class=" col-form-label">Business Case ID</label>
                    <input type="text" class="form-control" ng-model="Businesscaseid" id="Businesscaseid"  disabled>
                </div>
                <div class="col-md-4">
                    <label class="col-form-label" >Strategy </label>
                     <input type="text" class="form-control" ng-model="Strategy" id="Strategy" disabled>

                </div>
                <div class="col-md-4">
                                            <label class="col-form-label">Business Case Name</label>
                            <input type="text" class="form-control" ng-model="Businesscasename"  disabled>

                </div>
                <div class="col-md-4">
                                            <label class="col-form-label">Date Of Initiation</label>
                             <input type="date" class="form-control" ng-model="DateofInitiation" id="DateofInitiation" disabled>

                </div>
                
                <div class="col-md-4">
                                            <label class=" col-form-label">Business Case Template Type </label>
                            <input type="text" class="form-control" ng-model="ddltemplatename" id="ddltemplatename" disabled>

                </div>
                <div class="col-md-4">
                     <label class=" col-form-label">Product Category</label>
                     <input type="text" class="form-control" ng-model="ddlProductCategory" id="ddlProductCategory"  disabled>

                </div>
                <div class="col-md-4">
                 <label class="col-form-label ">Product Name </label>
                   <input type="text" class="form-control" ng-model="ddlProductName" id="ddlProductName"  disabled>

                </div>
                <div class="col-md-4">
                       <label class="col-form-label">Country</label>
                     <input type="text" class="form-control" ng-model="ddlCountry" id="ddlCountry"  disabled>
                </div>
                <div class="col-md-4">
                   <label class="col-form-label">Market </label>
                     <input type="text" class="form-control" ng-model="ddlmarket" id="ddlmarket" disabled>
                </div>
                <div class="col-md-4">
                 <label class="col-form-label">Treatment Category</label>
                   <input type="text" class="form-control" ng-model="ddltreatmentcategory" id="ddltreatmentcategory" disabled>
                </div>
                <!-- <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-sm-1 col-form-label align-self-center" style="white-space: nowrap;">Biocon filing Date (mmm-yyyy)</label>
                            <div>
                                <input type="date" class="form-control" ng-model="Bioconfillingdate" style="width: 213px;"  disabled></input>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="col-md-4">
                  <label class="col-form-label">Biocon Filing Date (mmm-yyyy)</label>
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="MMM-yyyy" ng-model="Bioconfillingdate"
                                        is-open="BioconfillingdateDatePopUp.opened" datepicker-options="billingFillingDateOptions" 
                                        close-text="Close" alt-input-formats="altInputFormats" ng-readonly="true"
                                        show-button-bar="false" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-secondary" ng-click="openBillingFillingDate()"
                                            style="min-width: 1em !important;" ng-disabled="isFormReadonly">
                                            <i class="fa-svg-icon">
                                                <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M192 1664h288v-288h-288v288zm352 0h320v-288h-320v288zm-352-352h288v-320h-288v320zm352 0h320v-320h-320v320zm-352-384h288v-288h-288v288zm736 736h320v-288h-320v288zm-384-736h320v-288h-320v288zm768 736h288v-288h-288v288zm-384-352h320v-320h-320v320zm-352-864v-288q0-13-9.5-22.5t-22.5-9.5h-64q-13 0-22.5 9.5t-9.5 22.5v288q0 13 9.5 22.5t22.5 9.5h64q13 0 22.5-9.5t9.5-22.5zm736 864h288v-320h-288v320zm-384-384h320v-288h-320v288zm384 0h288v-288h-288v288zm32-480v-288q0-13-9.5-22.5t-22.5-9.5h-64q-13 0-22.5 9.5t-9.5 22.5v288q0 13 9.5 22.5t22.5 9.5h64q13 0 22.5-9.5t9.5-22.5zm384-64v1280q0 52-38 90t-90 38h-1408q-52 0-90-38t-38-90v-1280q0-52 38-90t90-38h128v-96q0-66 47-113t113-47h64q66 0 113 47t47 113v96h384v-96q0-66 47-113t113-47h64q66 0 113 47t47 113v96h128q52 0 90 38t38 90z" />
                                                </svg>
                                            </i>
                                        </button>
                                    </span>
                                </p>
                </div>
                <!-- <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6"><label class="col-sm-1 col-form-label align-self-center" style="white-space: nowrap;">Dosage Form  </label></div>
                   </div>
                    <div>
                        <label>Cap <input type="checkbox" name="Dosage" ng-model="Cap" id="Cap" ng-click="toggleDosage('Cap')" value="Cap" ng-checked="capChecked"></label>
                        <label style="margin-left: 60px;">Oral <input type="checkbox" name="Dosage" ng-model="Oral" ng-click="toggleDosage('Oral')" id="Oral" value="Oral" ng-checked="oralChecked"></label>
                    </div>
                </div> -->
                <div class="col-md-4">
                  <label class="col-form-label ">Dosage Form </label>
                          <div>
                        <label>Cap <input type="checkbox" name="Dosage" ng-model="Cap" id="Cap" ng-click="toggleDosage('Cap')" value="Cap" ng-checked="capChecked"></label>
                        <label style="margin-left: 10px;">Oral <input type="checkbox" name="Dosage" ng-model="Oral" ng-click="toggleDosage('Oral')" id="Oral" value="Oral" ng-checked="oralChecked"></label>
                        <!-- <label>Cap <input type="checkbox" name="Dosage" ng-model="Cap" id="Cap" value="Cap" ng-checked="capChecked"></label>
                        <label style="margin-left: 60px;">Oral <input type="checkbox" name="Dosage" ng-model="Oral"  id="Oral" value="Oral" ng-checked="oralChecked"></label> -->
                    </div>
                </div>
                <!-- <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-sm-1 col-form-label align-self-center" style="white-space: nowrap;">Dosage Form </label>
                        </div>
                    </div> 
                    <div> <label class="col-sm-1 col-form-label align-self-center" style="white-space: nowrap;">Cap<input type="checkbox" ng-model="name"="Cap" id="Cap"></label>
                        <label class="col-sm-1 col-form-label align-self-center" style="white-space: nowrap; margin-left: 60px;">Oral <input type="checkbox" ngModel="Oral" id="Oral"></label>
                    </div>
                </div> -->
                <!-- <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-sm-1 col-form-label align-self-center" style="white-space: nowrap;">CFT Users Intimation</label>
                        </div>
                        <div title="MultiplepeoplePickerNotify" id="MultiplepeoplePickerNotify">
                        </div>
                    </div>
                </div> -->

                <div class="col-md-4">
                 <label class="col-form-label">API (IH/OS)</label>
                 <input type="text" class="form-control" ng-model="API" id="API"  disabled>

                </div>
                <div class="col-md-4">
                      <label class="col-form-label">Generic Filers</label>
                            <input type="text" class="form-control" ng-model="GenericFilers" id="GenericFilers"  disabled>

                </div>
                <!-- <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-sm-1 col-form-label align-self-center" style="white-space: nowrap;">Year of generalisation (YYYY)</label>
                            <div>
                                <input type="date" class="form-control" ng-model="Yearofgen" id="Yearofgen" style="width: 213px;"  disabled>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="col-md-4">
                  <label class="col-form-label ">LOE Expiry(YYYY)</label>
                              <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="yyyy" ng-model="Yearofgen"
                                        is-open="BioconfillingdateDatePopUp.opened" datepicker-options="billingFillingDateOptions" 
                                        close-text="Close" alt-input-formats="altInputFormats" ng-readonly="true"
                                        show-button-bar="false" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-secondary" ng-click="openBillingFillingDate()"
                                            style="min-width: 1em !important;" ng-disabled="isFormReadonly">
                                            <i class="fa-svg-icon">
                                                <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M192 1664h288v-288h-288v288zm352 0h320v-288h-320v288zm-352-352h288v-320h-288v320zm352 0h320v-320h-320v320zm-352-384h288v-288h-288v288zm736 736h320v-288h-320v288zm-384-736h320v-288h-320v288zm768 736h288v-288h-288v288zm-384-352h320v-320h-320v320zm-352-864v-288q0-13-9.5-22.5t-22.5-9.5h-64q-13 0-22.5 9.5t-9.5 22.5v288q0 13 9.5 22.5t22.5 9.5h64q13 0 22.5-9.5t9.5-22.5zm736 864h288v-320h-288v320zm-384-384h320v-288h-320v288zm384 0h288v-288h-288v288zm32-480v-288q0-13-9.5-22.5t-22.5-9.5h-64q-13 0-22.5 9.5t-9.5 22.5v288q0 13 9.5 22.5t22.5 9.5h64q13 0 22.5-9.5t9.5-22.5zm384-64v1280q0 52-38 90t-90 38h-1408q-52 0-90-38t-38-90v-1280q0-52 38-90t90-38h128v-96q0-66 47-113t113-47h64q66 0 113 47t47 113v96h384v-96q0-66 47-113t113-47h64q66 0 113 47t47 113v96h128q52 0 90 38t38 90z" />
                                                </svg>
                                            </i>
                                        </button>
                                    </span>
                                </p>
                </div>
				
                <div class="col-md-4">
                      <label class="col-form-label">Brand</label>
                  <input type="text" class="form-control" ng-model="ddlbrand" id="ddlbrand"  disabled>

                </div>
                <div class="col-md-4">

                            <label class="col-form-label">Innovator</label>
                           <input type="text" class="form-control" ng-model="ddlInnovator" id="ddlInnovator"  disabled>
                </div>
                <div class="col-md-4">
                       <label class="col-form-label">Mfg Site (IH/OS)</label>
                    <input type="text" class="form-control" ng-model="MfgSite" id="MfgSite"  disabled>
                </div>
                <div class="col-md-4">
                       <label class=" col-form-label">Current Development Status</label>
                      <input type="text" class="form-control" ng-model="CurrentDevlopStatus" disabled>

                </div>
                <div class="col-md-4">
                   <label class="col-form-label">Filing Type</label>
                 <input type="text" class="form-control" ng-model="FillingType" id="FillingType"  disabled>

                </div>
                <div class="col-md-4">
                          <label class="col-form-label">Partner Filing Strategy</label>
                            <input type="text" class="form-control" ng-model="PartnerFillingStrategy" id="PartnerFillingStrategy" disabled>
                </div>
                <div class="col-md-4">
                      <label class="col-form-label">Site</label>
                      <input type="text" class="form-control" ng-model="site"  disabled>

                </div>
              
                <div class="col-md-4">
                        <label class="col-form-label " >Genericisation Scenario</label>
                             <input type="text" class="form-control" ng-model="genscenario" disabled>

                </div>
                <div class="col-md-4">
                                            <label class="col-form-label">OB Approvals </label>
                             <input type="text" class="form-control" ng-model="ObApproval" id="ObApproval" disabled>

                </div>
                <div class="col-md-4">
                                            <label class="col-form-label">No of USDMF </label>
                            <input type="text" class="form-control" ng-model="NoofUSDMF" id="NoofUSDMF" disabled>

                </div>
                <div class="col-md-12" style="margin-top:50px;">
                    <table id="tableM" class="table table-bordered flowtbl">
                              <thead>
                              <tr>
                                  <th style="text-align:left">Template </th>
                                  <th style="text-align:left">{{VersionFlag}}</th>
                                  <th style="text-align:left">Current Business Case Stage</th>
                                  <th style="text-align:left"> Reason for Version Change </th> 
                                  <th style="text-align:left"> User Name</th>
                                  <th style="text-align:left"> Last Updated On</th>  
                              </tr>
                              </thead>
                              <tr ng-repeat="DocData in BusinessCaseDocumentLinkColl" >
                                      <td>
                                          <div> 
                                              <a ng-href="ms-excel:ofv|u|{{DocData.ServRel}}"  target="_blank" style="text-decoration: underline;" >{{DocData.Fname}}</a><a  id="UploadDoc{{DocData.DocID}}" ng-click="DeleteDocAttachment(DocData.Fname,DocData.DocID,this)"><i class='fa fa-close' style='color: red'></i></a>
                                          </div>
                                      </td>
                                          <td >
                                              <div>
                                                  {{MinorV}}
                                              </div>
              
                                          </td>       
                                          <td >
                                                <div>
                                                    {{BusinesscaseStage}}
                                                </div>
                                             </td>     
                                            <td > 
                                                <div>
                                                    {{InitiatorComments1}}   
                                                </div>
                                                                                                   
                                            </td>    
                                            <td > 
                                                <div>
                                                   {{}}
                                                </div>
                                                                                                   
                                            </td> 
                                            <td > 
                                                {{Modified |date :"MMM d,y h:mm:ss a"}}
                                            </td>  
                                          
                                      </tr>
   
                       </table>     
                </div>  
                </div>
            </div>  
        </div>
    <div style="border: 1px solid #ddd; margin-top: 20px;border-radius: 5px;" class="addasswrap">
        <div class="modal-body" id="divContSafeAuditFrm">
            <div class="row mt-10">
                <div class="col-md-4">
                       <label class="col-form-label ">Change Business Case Stages <span style="color:red;">*</span></label>
                                 <select class="form-control" name="singleSelect" ng-model="ChagneBusinesscaseStage" id="ChagneBusinesscaseStage" ng-required="true">
                            <option value="">Select</option>                         
                            <option value="In Process">In Process</option>
                            <option value="Under Review">Under Review</option>                       
                            <option value="Under Validation">Under Validation</option>
                            <option value="Ready for ELT Review">Ready for ELT Review </option>
                            <option value="Under Revalidation">Under Revalidation </option>
                            <option value="Approved/Published">Approved/Published </option>
                            <option value="Rejected">Rejected</option>
                            <option value="Other">Other</option>
                        </select>
                
                </div>
                <div class="col-md-4">
                 <label class="col-form-label">Initiator Comments<span style="color:red;">*</span></label>
                            <textarea ng-model="InitiatorComments" class="form-control" id="InitiatorComments" ng-required="true"> </textarea>

                </div>

<!-- 
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-sm-1 col-form-label align-self-center"style="white-space: nowrap;">Initiator Comments<span style="color:red;">*</span></label>
                        </div>
                        <input id="uploadFile" type="file" name="files[]" multiple="multiple" class="form-control"/>
                    </div>
                </div> -->

                    <!-- <div>
                        <input type="file" ngf-select ng-model="preQScoreFile" name="file" > 
                    </div> -->
                        <div class="col-md-4">
                             <label class="col-form-label">Attach Supporting Documents</label>
                                    <input type="file" ngf-select ng-model="BcAttachFileNew" name="file" multiple ngf-multiple="true"
                                    accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf"
                                    ngf-pattern="'.xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf'"
                                    ngf-accept="'.xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf'">
                                      <div class="mt-1">
                            <span style="color:red; font-size:12px">Note : Files with special character will not be allowed.</span>
                            
                        </div>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr> 
</div>
 </div>
    <div class=" row">
        <!-- ng-show="frmReqInitiation.$invalid" -->
        <div class="col-md-12 " style="text-align: center; margin-top: 20px;">
            <button class="btn btn-primary" type="button"  ng-show="(ChagneBusinesscaseStage == 'Other')" ng-click="onCreateVersion()" style="margin-right: 16px;">Create Version</button>
            <button class="btn btn-success" type="button" ng-hide="(ChagneBusinesscaseStage == 'Other' ||ChagneBusinesscaseStage == 'Select')"  ng-click="onInitiationSubmit()" style="    margin-right: 16px;">Submit</button>
            <button class="btn btn-danger" type="button" ng-click="onInitiationCancel()">Exit</button>
        </div>
    </div>
</div>