<script type="text/javascript" src="../_catalogs/masterpage/Custom/SourceCode/JS/LIB/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="../_catalogs/masterpage/Custom/SourceCode/JS/LIB/moment.min.js"></script>
<script type="text/javascript" src="../_catalogs/masterpage/Custom/SourceCode/JS/LIB/moment-range.js"></script>
<script type="text/javascript" src="../_catalogs/masterpage/Custom/SourceCode/JS/LIB/slick.min.js"></script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/LIB/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="../_catalogs/masterpage/Custom/SourceCode/JS/LIB/Angular1.7.8/angular.js">
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="../_catalogs/masterpage/Custom/SourceCode/JS/LIB/ng-file-upload.min.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/LIB/Angular1.7.8/angular-resource.js"></script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/LIB/Angular1.7.8/angular-route.js"></script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/LIB/Angular1.7.8/angular-sanitize.js"></script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/LIB/Angular1.7.8/angular-animate.js"></script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/LIB/Angular1.7.8/angular-touch.js"></script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/LIB/Angular1.7.8/angular-filter.js"></script>
<script type="text/javascript" src="../_catalogs/masterpage/Custom/SourceCode/JS/LIB/bootstrap.min.js"></script>
<script type="text/javascript" src="../_catalogs/masterpage/Custom/SourceCode/JS/LIB/ng-table.min.js"></script>
<script type="text/javascript" src="../_catalogs/masterpage/Custom/SourceCode/JS/LIB/angular-aria.min.js"></script>
<script type="text/javascript" src="../_catalogs/masterpage/Custom/SourceCode/JS/LIB/ui-bootstrap-tpls-3.0.6.js">
</script>
<script type="text/javascript" src="../_catalogs/masterpage/Custom/SourceCode/JS/LIB/Chart.min.js"></script>
<script type="text/javascript" src="../_catalogs/masterpage/Custom/SourceCode/JS/LIB/chartjs-plugin-datalabels.js">
</script>
<script type="text/javascript" src="../_catalogs/masterpage/Custom/SourceCode/JS/LIB/angular-chart.min.js">
</script>
<script type="text/javascript" src="../_catalogs/masterpage/Custom/SourceCode/JS/LIB/ng-pattern-restrict.min.js">
</script>
<script type="text/javascript" src="../_catalogs/masterpage/Custom/SourceCode/JS/LIB/dialogs.js"></script>
<script type="text/javascript" src="../_catalogs/masterpage/Custom/SourceCode/JS/LIB/pdfmake.min.js"></script>
<script type="text/javascript" src="../_catalogs/masterpage/Custom/SourceCode/JS/LIB/vfs_fonts.js"></script>
<script type="text/javascript" src="../_catalogs/masterpage/Custom/SourceCode/JS/LIB/BrowserExtensions/pdfMake.js">
</script>
<script type="text/javascript" src="../_catalogs/masterpage/Custom/SourceCode/JS/LIB/htmlToPdf.min.js"></script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/LIB/angularjs-dropdown-multiselect.js"></script>
<script type="text/javascript" src="../_catalogs/masterpage/Custom/SourceCode/JS/LIB/sp.runtime.js"></script>
<script type="text/javascript" src="../_catalogs/masterpage/Custom/SourceCode/JS/LIB/ng-file-upload.min.js">
</script>
<script type="text/javascript" src="../_catalogs/masterpage/Custom/SourceCode/JS/BusinessCaseInitiationConfig.js">
</script>
<script type="text/javascript" src="../_catalogs/masterpage/Custom/SourceCode/JS/BAL/Utilities.js"></script>
<script type="text/javascript" src="../_catalogs/masterpage/Custom/SourceCode/JS/DAL/TokenHelper.js"></script>
<script type="text/javascript" src="../_catalogs/masterpage/Custom/SourceCode/JS/DAL/SP.CRUD.js"></script>
<script type="text/javascript" src="../_catalogs/masterpage/Custom/SourceCode/JS/DAL/EXT.CRUD.js"></script>
<script type="text/javascript" src="../_catalogs/masterpage/Custom/SourceCode/JS/DAL/SP.BatchUtil.js"></script>
<script type="text/javascript" src="../_catalogs/masterpage/Custom/SourceCode/JS/BAL/Logics.js"></script>
<script type="text/javascript" src="../_catalogs/masterpage/Custom/SourceCode/JS/LIB/clientforms.js"></script>
<script type="text/javascript" src="../_catalogs/masterpage/Custom/SourceCode/JS/LIB/clientpeoplepicker.js">
</script>
<script type="text/javascript" src="../_catalogs/masterpage/Custom/SourceCode/JS/LIB/clienttemplates.js"></script>
<script type="text/javascript" src="../_catalogs/masterpage/Custom/SourceCode/JS/LIB/autofill.js"></script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/BusinessCase/MainOperation.js"></script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/BusinessCase/BusinessCaseInitiation.js"></script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/BusinessCase/InitiatorDashboard.js"></script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/BusinessCase/EditBusinessCaseInitiation.js"></script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/BusinessCase/ChangeStageBusinessCaseInitiation.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/BusinessCase/ViewBusinessCaseRequestInitiation.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/BusinessCaseReviewer/BusinessCaseReviewer.js"></script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/BusinessCaseReviewer/ReviewerDashboard.js"></script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/BusinessCaseReviewer/ViewReviewer.js"></script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/BusinessCaseValidator/ViewValidator.js"></script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/BusinessCaseValidator/ValidatorDashboard.js"></script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/BusinessCaseValidator/BusinessCaseValidator.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/OutLicensingBusinessCase/AddOutLicensingBusinessCase.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/InitiatorLP.js"></script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/OutLicensingBusinessCase/OutLicensingBusinessCaseView.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/InLicensingBusinessCase/InLicensingBusinessCaseView.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/CapexLicensingBusinessCaseView.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/AndaLicensingBusinessCase/AddAndaLicensingBusinessCase.js">  
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/AndaLicensingBusinessCase/EditAndaLicensingBusinessCase.js">  // 
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/InLicensingBusinessCase/EditInLicensingBusinessCase.js">  // 
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Validator/AndaLicensingBusinessCase/ValidatorValidateAndaLicensingBusinessCase.js">  // 
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Validator/AndaLicensingBusinessCase/ValidatorAndaLicensingBusinessCaseView.js">  // 
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/AndaLicensingBusinessCase/AndaLicensingBusinessCaseView.js">   // arv
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/OutLicensingBusinessCase/OutLicensingBusinessCaseChangeStage.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/InLicensingBusinessCase/InLicensingBusinessCaseChangeStage.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/CapexLicensingBusinessCaseChangeStage.js">
</script>



<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/AndaLicensingBusinessCase/AndaLicensingBusinessCaseChangeStage.js">
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/CapexLicensingBusinessCase/AddCapexLicensingBusinessCase.js">
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/CapexLicensingBusinessCase/CapexLicensingBusinessCaseChangeStage.js">
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/CapexLicensingBusinessCase/CapexLicensingBusinessCaseView.js">
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/CapexLicensingBusinessCase/EditCapexLicensingBusinessCase.js">
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Reviewer/ReviewerLPage.js"></script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Reviewer/OutLicensingBusinessCase/ReviewerOutLicensingBusinessCaseView.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Reviewer/OutLicensingBusinessCase/ReviewerReviewOutLicensingBusinessCase.js">
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Reviewer/AndaLicensingBusinessCase/ReviewerReviewAndaLicensingBusinessCase.js">
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Reviewer/AndaLicensingBusinessCase/ReviewerAndaLicensingBusinessCaseView.js">
</script>




<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Reviewer/InLicensingBusinessCase/ReviewerInLicensingBusinessCaseView.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Reviewer/InLicensingBusinessCase/ReviewerReviewInLicensingBusinessCase.js">
</script>


<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Validator/ValidatorLPage.js"></script>
<script type="text/javascript" src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Validator/OutLicensingBusinessCase/ValidatorOutLicensingBusinessCaseView.js"></script>
<script type="text/javascript" src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Validator/OutLicensingBusinessCase/ValidatorValidateOutLicensingBusinessCase.js"></script>


<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Validator/InLicensingBusinessCase/ValidatorInLicensingBusinessCaseView.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Validator/InLicensingBusinessCase/ValidatorValidateInLicensingBusinessCase.js">
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/OutLicensingBusinessCase/EditOutLicensingBusinessCase.js">
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/InLicensingBusinessCase/AddInLicensingBusinessCase.js">


</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/CapexLicensingBusinessCase/EditCapexLicensingBusinessCase.js">


</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Reviewer/CapexLicensingBusinessCase/ReviewerReviewCapexLicensingBusinessCase.js">


</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Reviewer/CapexLicensingBusinessCase/ReviewerCapexLicensingBusinessCaseView.js">
</script>


<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Validator/CapexLicensingBusinessCase/ValidatorCapexLicensingBusinessCaseView.js">


</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Validator/CapexLicensingBusinessCase/ValidatorValidateCapexLicensingBusinessCase.js">
</script>



<!--USANDA-->
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/USAndaLicensingBusinessCase/AddUSAndaLicensingBusinessCase.js">
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/USAndaLicensingBusinessCase/USAndaLicensingBusinessCaseChangeStage.js">
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/USAndaLicensingBusinessCase/USAndaLicensingBusinessCaseView.js">
</script>




<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/USAndaLicensingBusinessCase/EditUSAndaLicensingBusinessCase.js">


</script>





<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Reviewer/USAndaLicensingBusinessCase/ReviewerReviewUSAndaLicensingBusinessCase.js">


</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Reviewer/USAndaLicensingBusinessCase/ReviewerUSAndaLicensingBusinessCaseView.js">
</script>



<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Validator/USAndaLicensingBusinessCase/ValidatorUSAndaLicensingBusinessCaseView.js">


</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Validator/USAndaLicensingBusinessCase/ValidatorValidateUSAndaLicensingBusinessCase.js">
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Dashboard/OLDashboard/OLDashboard.js">
</script>


<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Dashboard/OLDashboard/ReviewerOLDashboard.js">
</script>



<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Dashboard/OLDashboard/ValidatorOLDashboard.js">
</script>


<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Dashboard/ILDashboard/ILDashboard.js">
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Dashboard/ILDashboard/ReviewerILDashboard.js">
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Dashboard/ILDashboard/ValidatorILDashboard.js">
</script>




<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Dashboard/CAPEXDashboard/CAPEXDashboard.js">
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Dashboard/CAPEXDashboard/ReviewerCAPEXDashboard.js">
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Dashboard/CAPEXDashboard/ValidatorCAPEXDashboard.js">
</script>



<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Dashboard/USANDADashboard/USANDADashboard.js">
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Dashboard/USANDADashboard/ReviewerUSANDADashboard.js">
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Dashboard/USANDADashboard/ValidatorUSANDADashboard.js">
</script>




<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Dashboard/USMOWANDADashboard/USMOWANDADashboard.js">
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Dashboard/USMOWANDADashboard/ReviewerUSMOWANDADashboard.js">
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Dashboard/USMOWANDADashboard/ValidatorUSMOWANDADashboard.js">
</script>


<!--USMOWEU-->

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/AndaUMELicensingBusinessCase/AddAndaUMELicensingBusinessCase.js">  
</script>


<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/AndaUMELicensingBusinessCase/EditAndaUMELicensingBusinessCase.js">  // 
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/AndaUMELicensingBusinessCase/AndaUMELicensingBusinessCaseView.js">   // arv
</script>


<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/AndaUMELicensingBusinessCase/AndaUMELicensingBusinessCaseChangeStage.js">
</script>



<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Reviewer/AndaUMELicensingBusinessCase/ReviewerReviewAndaUMELicensingBusinessCase.js">
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Reviewer/AndaUMELicensingBusinessCase/ReviewerAndaUMELicensingBusinessCaseView.js">
</script>


<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Validator/AndaUMELicensingBusinessCase/ValidatorValidateAndaUMELicensingBusinessCase.js">  // 
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Validator/AndaUMELicensingBusinessCase/ValidatorAndaUMELicensingBusinessCaseView.js">  // 
</script>


<!--USMOWEU-->

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/AndaUMELicensingBusinessCase/AddAndaUMELicensingBusinessCase.js">  
</script>


<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/AndaUMELicensingBusinessCase/EditAndaUMELicensingBusinessCase.js">  // 
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/AndaUMELicensingBusinessCase/AndaUMELicensingBusinessCaseView.js">   // arv
</script>


<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/AndaUMELicensingBusinessCase/AndaUMELicensingBusinessCaseChangeStage.js">
</script>



<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Reviewer/AndaUMELicensingBusinessCase/ReviewerReviewAndaUMELicensingBusinessCase.js">
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Reviewer/AndaUMELicensingBusinessCase/ReviewerAndaUMELicensingBusinessCaseView.js">
</script>


<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Validator/AndaUMELicensingBusinessCase/ValidatorValidateAndaUMELicensingBusinessCase.js">  // 
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Validator/AndaUMELicensingBusinessCase/ValidatorAndaUMELicensingBusinessCaseView.js">  // 
</script>



<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Dashboard/USANDAUMEDashboard/ANDAUMEDashboard.js">  
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Dashboard/USANDAUMEDashboard/ReviewerANDAUMEDashboard.js">  // 
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Dashboard/USANDAUMEDashboard/ValidatorANDAUMEDashboard.js">  // 
</script>




<!-- SINGLE TENDER BID -->

<!-- SINGLE TENDER BID -->
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Dashboard/SingleTenderBidDashboard/InitiatorSingleTenderBidDash.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Dashboard/SingleTenderBidDashboard/ReviewerSingleTenderBidDash.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Dashboard/SingleTenderBidDashboard/ValidatorSingleTenderBidDash.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/SingleTenderBid/AddSingleTenderBid.js">
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/SingleTenderBid/EditSingleTenderBid.js">
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/MultipleTenderBid/EditMultipleTenderBid.js">
</script>


<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/ILVsInHouseBusinessCase/EditILVsIH.js">
</script>



<!-- <script type="text/javascript"
    src="/_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/SingleTenderBid/EditSingleTenderBid.js">
</script>

<script type="text/javascript"
    src="/_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/SingleTenderBid/EditSingleTender.js">
</script>

<script type="text/javascript"
    src="/_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/SingleTenderBid/EditSingleTender.js">
</script> -->




<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/SingleTenderBid/ChangeStageSingleTenderBid.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/SingleTenderBid/ViewSingleTenderBid.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Reviewer/SingleTenderBid/ReviewerReviewSingleTenderBid.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Validator/SingleTenderBid/ValidatorValidateSingleTenderBid.js">
</script>


<!-- Multiple TENDER BID -->
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Dashboard/MultipleTenderBidDashboard/InitiatorMultipleTenderBidDash.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Dashboard/MultipleTenderBidDashboard/ReviewerMultipleTenderBidDash.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Dashboard/MultipleTenderBidDashboard/ValidatorMultipleTenderBidDash.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/MultipleTenderBid/AddMultipleTenderBid.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/MultipleTenderBid/ViewMultipleTenderBid.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Reviewer/MultipleTenderBid/ReviewerReviewMultipleTenderBid.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Validator/MultipleTenderBid/ValidatorValidateMultipleTenderBid.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/MultipleTenderBid/ChangeStageMultipleTenderBid.js">
</script>




<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Reviewer/MultipleTenderBid/ReviewerReviewMultipleTenderBidView.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Reviewer/SingleTenderBid/ReviewerReviewSingleTenderBidView.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Validator/MultipleTenderBid/ValidatorValidateMultipleTenderBidView.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Validator/SingleTenderBid/ValidatorValidateSingleTenderBidView.js">
</script>






<!-- Multiple TENDER BID  END-->

<!-- InLicensingVsInHouse.START -->

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Dashboard/ILVsInHouseDashboard/InitiatorILVsInHouseDash.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Dashboard/ILVsInHouseDashboard/ReviewerILVsInHouseDash.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Dashboard/ILVsInHouseDashboard/ValidatorILVsInHouseDash.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/ILVsInHouseBusinessCase/AddILVsIH.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/ILVsInHouseBusinessCase/ChangeStageILVsIH.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Reviewer/ILVsInHouseBusinessCase/ReviewerReviewILVsIH.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Validator/ILVsInHouseBusinessCase/ValidatorValidateILVsIH.js">
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Reviewer/MultipleTenderBid/ReviewerReviewMultipleTenderBidView.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Reviewer/SingleTenderBid/ReviewerReviewSingleTenderBidView.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Validator/MultipleTenderBid/ValidatorValidateMultipleTenderBidView.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Validator/SingleTenderBid/ValidatorValidateSingleTenderBidView.js">
</script>
<!-- InLicensingVsInHouse.END -->
<!-- START API -->
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Dashboard/APIDashboard/InitiatorAPIDash.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Dashboard/APIDashboard/ReviewerAPIDash.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Dashboard/APIDashboard/ValidatorAPIDash.js">
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/API/AddAPI.js">
</script>






<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Validator/API/APIValidatorView.js">
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Validator/ILVsInHouseBusinessCase/ILVsIHValidatorView.js">
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Reviewer/API/APIReviewerView.js">
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Reviewer/ILVsInHouseBusinessCase/ILVsIHReviewerView.js">
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Validator/API/ValidatorValidateAPI.js">
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/API/APIView.js">
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/ILVsInHouseBusinessCase/ILVsIHView.js">
</script>


<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/ELTDashboard/ELTAPIDashboard/ELTReviewerAPIDash.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/ELTDashboard/ELTCAPEXDashboard/ELTReviewerCAPEXDashboard.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/ELTDashboard/ELTILnIHDashboard/ELTReviewerILVsInHouseDash.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/ELTDashboard/ELTInLicensingDashboard/ELTReviewerILDashboard.js">
</script>


<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/ELTDashboard/ELTMultipleTenderBidDashboard/ELTReviewerMultipleTenderBidDash.js">
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/ELTDashboard/ELTOutLicensingDashboard/ELTReviewerOLDashboard.js">
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/ELTDashboard/ELTSingleTenderBidDashboard/ELTReviewerSingleTenderBidDash.js">
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/ELTDashboard/ELTUMEANDADashboard/ELTReviewerANDAUMEDashboard.js">
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/ELTDashboard/ELTUSANDADashboard/ELTReviewerUSANDADashboard.js">
</script>

<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/ELTDashboard/ELTUSMOWANDADashboard/ELTReviewerUSMOWANDADashboard.js">
</script>










<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/API/EditAPI.js">
</script>


<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Initiator/API/ChangeStageAPI.js">
</script>
<script type="text/javascript"
    src="../_catalogs/masterpage/Custom/SourceCode/JS/CTRLS/Biocon/Reviewer/API/ReviewerReviewAPI.js">
</script>


<!-- END API -->
<script type="text/javascript" src="../_catalogs/masterpage/Custom/SourceCode/JS/LIB/fSelect.js"></script>
<script src="../_catalogs/masterpage/Custom/SourceCode/JS/LIB/select2.min.js"></script>
<script src="../_catalogs/masterpage/Custom/SourceCode/JS/LIB/bootstrap-multiselect.min.js"></script>
<!--<script src="../_catalogs/masterpage/Custom/SourceCode/JS/gairiconhide.js"></script>-->
<script src="/sites/Biocon/SiteAssets/BusinessCaseLP/assets/js/userinfo.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>

<link href="../_catalogs/masterpage/Custom/SourceCode/JS/LIB/select2.min.css" rel="stylesheet">
<link href="../_catalogs/masterpage/Custom/SourceCode/JS/LIB/bootstrap-multiselect.css" rel="stylesheet">
<link href="../_catalogs/masterpage/Custom/SourceCode/JS/LIB/fSelect.css" rel="stylesheet">
<link href="../_catalogs/masterpage/Custom/SourceCode/CSS/LIB/font-awesome.min.css" rel="stylesheet" />
<link href="../_catalogs/masterpage/Custom/SourceCode/CSS/LIB/slick-theme.css" rel="stylesheet" />
<link href="../_catalogs/masterpage/Custom/SourceCode/CSS/LIB/slick.min.css" rel="stylesheet" />
<link href="../_catalogs/masterpage/Custom/SourceCode/CSS/LIB/bootstrapv4.1.1.min.css" rel="stylesheet" />
<link href="../_catalogs/masterpage/Custom/SourceCode/CSS/LIB/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
<link href="../_catalogs/masterpage/Custom/SourceCode/CSS/LIB/animate.css" rel="stylesheet" />
<link href="../_catalogs/masterpage/Custom/SourceCode/CSS/Custom.css" rel="stylesheet" />
<link href="../_catalogs/masterpage/Custom/SourceCode/CSS/bioconstyle.css" rel="stylesheet" />
<link href="../_catalogs/masterpage/Custom/SourceCode/CSS/biocommon.css" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap" rel="stylesheet">

<style>
#O365_MainLink_Settings_container, #O365_MainLink_Help_container, #s4-ribbonrow{
    display: none !important;
}

</style>

<div ng-app="AppZone" ng-controller="BioconMainCtrl" ng-cloak class="col-sm-12 col-md-12 col-xs-12"
    style="padding-left: 0px; padding-right: 0px;">
    <header></header>
    <div class="col-sm-12 col-md-12 col-xs-12">&nbsp;</div>
        <div class="col-xs-12 col-sm-12 col-md-12">
        <div ng-view></div>
    </div>
</div>