<div ng-form="frmReqInitiation" novalidate>
    <div class="modal-header customModalheader">
        <div class="modal-title customModalTitle" id="modal-title"><i class="fa fa-list-alt" aria-hidden="true"></i>
            <h3 class="headingtitle">View Business Case Initiation Form</h3>
        </div>
    </div>
    <div style="border: 1px solid #ddd; margin-top: 20px; border-radius: 5px;" class="addasswrap">
        <div class="modal-body" id="divContSafeAuditFrm">
            <div class="row mt-10">
                         
                <div class="col-md-4">
                   <label class="col-form-label">Strategy </label>
                    <input type="text" class="form-control" ng-model="ddlStrategy" id="ddlStrategy" disabled> 
                 </div>
                 <div class="col-md-4">
                <label class="col-form-label">Business Case Name</label>
                <input type="text" class="form-control" ng-model="Businesscasename" disabled>
             </div>
             <div class="col-md-4">
                <label class="col-form-label">Business Case Initiator</label>
                      <div title="SinglelepeoplePickerNotify" id="SinglelepeoplePickerNotify" style="margin-left:3px;"> </div>
             </div>
               
                <!-- <div class="col-md-4">
                <label class="col-form-label">Business Case Initiator</label>
                   <input type="text" class="form-control" ng-model="ddlProductCategory" id="ddlProductCategory" disabled>
                  </div> -->
                <div class="col-md-4">
                <label class="col-form-label">Entity </label>
                    <input type="text" class="form-control"  ng-model="ddlEntity" id="ddlEntity" disabled>
                </div> 
                 <div class="col-md-4">
                <label class="col-form-label">Site</label>
                    <input type="text" class="form-control"  ng-model="ddlSite" id="ddlSite" disabled>
                </div>
                <div class="col-md-4">
                    <label class="col-form-label">Business Case Initiation Date(mmm-yyyy)</label>
                   <input type="date" class="form-control" ng-model="InitiationDate" id="InitiationDate" disabled>
                 </div>  
                 <div class="col-md-4">
                    <label class="col-form-label">Capex Value( in INR Crs)</label>
                   <input type="text" class="form-control" ng-model="CapexValue" id="CapexValue" disabled>
                 </div>  
                 <div class="col-md-4">
                    <label class="col-form-label">Capex Currency</label>
                   <input type="text" class="form-control" ng-model="CapexCurrency" id="CapexCurrency" disabled>
                 </div>  
                 <div class="col-md-4">
                    <label class="col-form-label">Escalation</label>
                   <input type="text" class="form-control" ng-model="Escalation" id="Escalation" disabled>
                 </div> 
                  <div class="col-md-4">
                    <label class="col-form-label">Escalation Remarks</label>
                   <input type="text" class="form-control" ng-model="EscalationRemarks" id="EscalationRemarks" disabled>
                 </div> 
                  <div class="col-md-4">
                    <label class="col-form-label">Capex Approval Year</label>
                   <input type="date" class="form-control" ng-model="CapexApprovalYear" id="CapexApprovalYear" disabled>
                 </div>  
                 <div class="col-md-4">
                    <label class="col-form-label">BC Completion Year</label>
                   <input type="date" class="form-control" ng-model="BCCompletionYear" id="BCCompletionYear" disabled>
                 </div>
                 <div class="col-md-4">
                     <label class="col-form-label">No of Products</label>
                    <input type="text" class="form-control"  ng-model="NoofProducts" id="NoofProducts" disabled>
                </div>
               
                       </div>

            </div>
        </div>
        <div class="col-md-12" style="margin-top:50px;">
            <table id="tableM" class="table table-bordered flowtbl">
                      <thead>
                      <tr>
                        
                        <th style="text-align:left"> ID</th>  
                        <th style="text-align:left"> Phase</th>  
                        <th style="text-align:left"> Capex Phase Total</th>  
                        <th style="text-align:left"> Capex Trigger year Phase </th>  
                        <th style="text-align:left"> Product Name</th>
                        <th style="text-align:left"> Capex completion year - Phase Date  </th> 
                      </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="CapexPhaseDetails in CapexPhaseDetailsColl" >
                            <td > 
                                <div>
                                    {{CapexPhaseDetails.ID}}
                                </div>
                                                                                    
                            </td>   <td > 
                                <div>
                                    {{CapexPhaseDetails.Title}}
                                </div>
                                                                                    
                            </td>  
                             <td > 
                                <div>
                                    {{CapexPhaseDetails.PhaseTotal}}
                                </div>
                                                                                    
                            </td>  <td > 
                                <div>
                                    {{CapexPhaseDetails.TriggerYear}}
                                </div>
                                                                                    
                            </td> 
                            <td > 
                                <div>
                                    {{CapexPhaseDetails.ProductName.Title}}
                                </div>
                                                                                    
                            </td>  
                            <td>
                                <div>
                                    {{CapexPhaseDetails.CompletionYear}}
                                </div>

                            </td>       
                          
                                            
                            </tr>
                                    
         
                             </table>  
                            </td>
                            
                        </tr>
                      </tbody>
               </table>     
        </div>  
     </div>

            </div>
        </div>
    </div>
    <div class=" row">
        <div class="col-md-12 " style="text-align: center; margin-top: 20px;">
            <button class="btn btn-danger" type="button" ng-click="onInitiationCancel()">Exit</button>
        </div>
    </div>
</div>